{% extends "user/user_base.html" %}
<!--                        -->
{% block content %}
<br />
<div class="container">
  <h1>Upload your image</h1>

  <form
    action="{{url_for('upload', user_name=session['user_name'])}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Admin name</label>
      <input
        type="file"
        name="img"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <label for="" style="color: red">*</label>
      <label for="" style="font-style: italic"
        >Only 'png', 'jpg', 'bmp' is allowed.</label
      >
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>

  <form
    action="{{url_for('upload', user_name=session['user_name'])}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Admin name</label>
      <input
        type="text"
        name="img_url"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <label for="" style="color: red">*</label>
      <label for="" style="font-style: italic"
        >Only 'png', 'jpg', 'bmp' is allowed.</label
      >
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>
{% endblock %}
