{% extends "user/user_base.html" %}
<!--                        -->
{% block content %}
<body>
  <h1>Welcome, {{user_name}}!</h1>
  <ul>
    <li>
      <a href="{{url_for('upload', user_name=user_name)}}">Upload Image</a>
    </li>
    <li><a href="{{url_for('show', user_name=user_name)}}">Show Image</a></li>
    <li>
      <a href="{{url_for('change_pw', user_name=user_name)}}"
        >Change password</a
      >
    </li>
    <li><a href="{{url_for('user_logout')}}">Logout</a></li>
  </ul>
</body>
{% endblock %}
