{% extends "admin/admin_base.html" %}
<!--                        -->
{% block title %} edit {% endblock %} {% block content %}
<body>
  <form action="{{url_for('edit_save',user_id=user_id)}}" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        value="{{name if name  != None}}"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email</label>
      <input
        type="text"
        name="email"
        class="form-control"
        id="exampleInputPassword1"
        value="{{email if email  != None}}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    {% if category =='error'%}
                        <li style="color:red">{{ message }}</li>
                    {% else %}
                        <li style="color:green">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</body>
{% endblock %}
