{% extends "admin/admin_base.html" %}
<!--                        -->
{% block title %} edit {% endblock %} {% block content %}
<table class="table table-border">
  <thead>
    <th>ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  {% for row in cursor %}
  <tr>
    <td>{{row[0]}}</td>
    <td>{{row[1]}}</td>
    <td>{{row[3]}}</td>

    <td>
      <form action="{{url_for('edit',user_id=row[0])}}" method="get">
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
    </td>
    <td>
      <form
        action="{{url_for('delete',user_id=row[0])}}"
        method="post"
        onsubmit='return confirm("Are you sure?")'
      >
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
