<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
  </head>

  <body>
    <h1>Password Recovery</h1>
    <h3>
      Please input your username. The email attached to your account will
      receive a link to reset your password.
    </h3>
    <form method="POST">
      <span>username</span>
      <input type="text" name="username" />
      <br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
