<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landing Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <br />
    <div class="container">
      <h1 style="width: 100%; text-align: center">Entrance</h1>
      <div style="height: 100px"></div>
      <div
        class="logins"
        style="
          width: 480px;
          margin: 0 auto;
          background-color: aliceblue;
          padding: 50px 50px;
          border: 1px solid;
        "
      >
        <div
          class="logins-inner"
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <div class="user-login">
            <a href="{{url_for('user_login')}}" class="btn btn-primary"
              >user login</a
            >
          </div>
          <div class="admin-login">
            <a href="{{url_for('admin_login')}}" class="btn btn-primary"
              >admin login</a
            >
          </div>
        </div>
      </div>
      <div class="password-recovery">
        <form action="{{url_for('main')}}" method="POST">
          <div class="mb-3">
            <button
              type="submit"
              name="forget-password"
              class="btn btn-primary"
              style="margin-top: 50px; margin-left: 60%"
            >
              Password Recovery
            </button>
          </div>
        </form>
      </div>
      <div style="height: 100px;"></div>
      <h3>Readme</h3>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              user login
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne"
          >
            <div class="accordion-body">
              <strong>User login is the entrance of normal users.</strong>
              You would be asked to input your username and password to login.
              After login, you can access all the functions by clicking the navigation bar at the top of the page. <br />
              <strong>- Upload:</strong> you could upload images either by typing in an accessable URL or choosing from your local files. <br />
              <strong>- Album:</strong> you could view all your images and related images transformed here. <br />
              <strong>- Change Password:</strong> you could change password of the account you are currently login. <br />
              <strong>- Logout:</strong> you could logout the account and redirect to the entrance page by clicking Logout. <br />
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              admin login
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo"
          >
            <div class="accordion-body">
              <strong>Admin login is the entrance of admins.</strong>
              You would be asked to input the username and password to login.
              After login, you can access all the functions by clicking the navigation bar at the top of the page. <br />
              <strong>- Register:</strong> you could add new accounts of normal users here by typing in <code>Username</code>, <code>Password</code> and <code>Email</code><br />
              <strong>- Edit&Delete:</strong> you could delete or edit the name and password of normal user accounts here. <br />
              <strong>- Logout:</strong> you could logout the account and redirect to the entrance page by clicking Logout. <br />
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree"
            >
              password recovery
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree"
          >
            <div class="accordion-body">
              <strong>If you cannot recall your password, please click <code>PasswordRecovery</code></strong>
              You would be asked to input the username of your account. An email will be sent to the email address attached to your account for you to reset the password.
            </div>
          </div>
        </div>
        <div style="height: 300px;"></div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!-- TODO: 考虑可以在第一个页面整一个开场动画直接脱颖而出 -->

<!-- TODO: 每个页面下方写上每个页面的用法和提示，这个可以分下去大家一起做 -->
